@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root, .default-theme{
    --main-background:hsl(222, 26%, 31%);
    --toggle-result-background:hsl(223, 31%, 20%);
    --screen-background:hsl(224, 36%, 15%);
    --key-background:hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --del-res-bg:hsl(225, 21%, 49%);
    --del-res-shadow:hsl(224, 28%, 35%);
    --equals-bg:hsl(6, 63%, 50%);
    --equals-shadow:hsl(6, 70%, 34%);
    --key-color:hsl(221, 14%, 31%);
    --white-text-color:hsl(0, 0%, 100%);

}


.light-theme{
    --main-background: hsl(0, 0%, 90%);
    --toggle-result-background:hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
    --key-background:hsl(45, 7%, 89%);
    --key-shadow:  hsl(35, 11%, 61%);
    --del-res-bg:hsl(185, 42%, 37%);
    --del-res-shadow:hsl(185, 58%, 25%);
    --equals-bg:hsl(25, 98%, 40%);
    --equals-shadow:hsl(25, 99%, 27%);
    --key-color:hsl(60, 10%, 19%);
    --white-text-color:hsl(0, 0%, 100%);

}
.purple-theme{
    --main-background: hsl(268, 75%, 9%);
    --toggle-result-background: hsl(268, 71%, 12%);
    --screen-background:  hsl(268, 71%, 12%);
    --key-background: hsl(268, 47%, 21%);
    --key-shadow:    hsl(290, 70%, 36%);
    --del-res-bg: hsl(281, 89%, 26%);
    --del-res-shadow:hsl(285, 91%, 52%);
    --equals-bg:hsl(176, 100%, 44%);
    --equals-shadow: hsl(177, 92%, 70%);
    --key-color:hsl(52, 100%, 62%);
    --white-text-color:hsl(52, 100%, 62%);
}
*{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
    background: var(--main-background);
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    color: var(--white-text-color);
}
header{
    display: flex;
    justify-content: space-between;
}
.switch-theme-buttons{
    background-color: var(--toggle-result-background);
    display: flex;
    height: 25px;
    width: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.themes{
    color: var(--white-text-color);
    margin:14px 0px 50px 300px;
    display: block;
    position: relative;
    left: 62px;
    word-spacing: 10px;
}
.button{
    border-color: transparent;
    height: 15px;
    border-radius: 50%;
}
#default{
    background: var(--equals-bg);
}
.buttons{
    padding: 13px;
     display: grid;
     justify-content: center;
     align-content: center;
     grid-template-columns: repeat(4,100px) ;
     grid-template-rows: repeat(5,60px);
     grid-gap: 9px;
     background-color: var(--screen-background);
     border-radius: 7px;
}
.buttons> button{
    border-radius: 7px;
    font-size: 32px;
    background-color: var(--key-background);
    color: var(--key-color);
    border-color: transparent;
    box-shadow: 0 3px var(--key-shadow);
}
#reset_btn{
    grid-column: span 2;
    color: var(--white-text-color);
    background-color: var(--del-res-bg);
    border-color: transparent;
    box-shadow: 0 3px var(--del-res-shadow);
}
#del_btn{
    color: var(--white-text-color);
    background-color: var(--del-res-bg);
    border-color: transparent;
    box-shadow: 0 3px var(--del-res-shadow);

}
#equals_btn{
    grid-column: span 2;
    color: var(--white-text-color);
    background-color: var(--equals-bg);
    border-color: transparent;
    box-shadow: 0 3px var(--equals-shadow);

}
.showing{
    background-color:var(--screen-background);
    color: var(--white-text-color);
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    font-size: 32px; 
}
#light{
    visibility: hidden;
}

#purple{
    visibility: hidden;
}
button:hover{
    cursor: pointer;
    filter: brightness(160%);
}